<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- <xacro:include filename="common_properties.xacro" /> -->

    <xacro:property name="camera_length" value="0.02"/>
    <xacro:property name="camera_width" value="0.2"/>
    <xacro:property name="camera_height" value="0.12"/>

    <link name="front_camera_link">
        <visual>
            <geometry>
                <box size="${camera_length} ${camera_width} ${camera_height}" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <box size="${camera_length} ${camera_width} ${camera_height}" />
            </geometry>
        </collision>
        <xacro:body_inertia m="0.1" l="${camera_length}" w="${camera_width}" h="${camera_height}"
                           xyz="0 0 0" rpy="0 0 0" />
    </link>

     <joint name="base_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="front_camera_link"/>
        <origin xyz="1.14 0 0.5" rpy="0 0 0"/>  
  </joint>

     <gazebo reference="front_camera_link"> 
        <material>Gazebo/Black</material>
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>front_camera_link</frame_name>
            </plugin>
        </sensor>
     </gazebo>

     <link name="back_camera_link">
        <visual>
            <geometry>
                <box size="${camera_length} ${camera_width} ${camera_height}" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <box size="${camera_length} ${camera_width} ${camera_height}" />
            </geometry>
        </collision>
        <xacro:body_inertia m="0.1" l="${camera_length}" w="${camera_width}" h="${camera_height}"
                           xyz="0 0 0" rpy="0 0 0" />
    </link>

    <joint name="base_camera1_joint" type="fixed">
        <parent link="base_link"/>
        <child link="back_camera_link"/>
        <origin xyz="-0.60 0 0.5" rpy="0 3.2 0"/>  
     </joint>
         <gazebo reference="back_camera_link"> 
        <material>Gazebo/Black</material>
        <sensor name="camera_sensor" type="camera">
            <pose>0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10.0</update_rate>
            <plugin name="camera_controller1" filename="libgazebo_ros_camera.so">
                <frame_name>back_camera_link</frame_name>
            </plugin>
        </sensor>
     </gazebo>
     
</robot>