<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
   
    <xacro:include filename="common_properties.xacro" />

    <xacro:property name="lidar_radius" value="0.08" />
    <xacro:property name="lidar_length" value="0.9" />

     <joint name="laser_scanner_joint" type="fixed">
    <origin xyz="1.0 0 0.900" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="laser_scanner_link"/>
  </joint> 

    <link name="laser_scanner_link">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="${lidar_radius}" length="${lidar_radius}" />
        </geometry>
        </collision>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="${lidar_radius}" length="${lidar_radius}" />
        </geometry>
        </visual>
        <inertial>
          <mass value="1e-5"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
        </inertial>
      </link> 

    <gazebo reference="laser_scanner_link">
        <material>Gazebo/Black</material>

        <sensor type="ray" name="laser_scanner">
        <always_on>true</always_on> 
        <!-- <visualize>true</visualize>  -->
         <update_rate>3</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>${-pi}</min_angle>
              <max_angle>${pi}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.30</min>
            <max>25.0</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
          <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
            <ros>
              <remapping>~/out:=scan</remapping>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>laser_scanner_link</frame_name>
          </plugin>
        </sensor>
      </gazebo> 

      <link name="back_scanner_link">
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="${lidar_radius}" length="${lidar_radius}" />
        </geometry>
        </collision>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <cylinder radius="${lidar_radius}" length="${lidar_radius}" />
        </geometry>
        </visual>
        <inertial>
          <mass value="1e-5"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
        </inertial>
      </link> 

     <joint name="back_laser_scanner_joint" type="fixed">
        <origin xyz="-0.45 0 0.820" rpy="0 0 0" />
        <parent link="base_link"/>
        <child link="back_scanner_link"/>
    </joint>

    <gazebo reference="back_scanner_link">
        <material>Gazebo/Black</material>
        <!-- <sensor type="ray" name="laser_scanner">
        <always_on>true</always_on> 
         <visualize>true</visualize> 
         <update_rate>3</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>${-pi}</min_angle>
              <max_angle>${pi}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.30</min>
            <max>25.0</max>
            <resolution>0.1</resolution>
          </range>
        </ray>
          <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
            <ros>
              <remapping>~/out:=scan</remapping>
            </ros>
            <output_type>sensor_msgs/LaserScan</output_type>
            <frame_name>back_scanner_link</frame_name>
          </plugin>
        </sensor> -->
      </gazebo>     
    
</robot>